# Dados

<div class="alert alert-block alert-success">  
<b>Aqui deve vir uma ligação entre a introdução e os dados </b>   
</div>

   ## Importando os dados 
   Primeiro de tudo, a de se ficar claro que iremos utilizar o pacote `pandas` para fazer operações com dados em Data Frames. E essa utilização começa desde a primeira linha de código no python. Ah... antes disso, lembre-se de ter instalado o pacote pandas no seu computador através do comando `pip intall pandas` (assumo aqui que não preciso explicar sobre o Anaconda).

In [ ]:
import pandas as pd

Vamos agora então importar os dados sobre **transações internacionais** de 2021-2022 conseguidos através do site [Kaggle](https://www.kaggle.com/datasets/shubhamptrivedi/world-trade-export-data20212022?select=WtoMetadata_20221014064149.csv), com fonte inicial da **Organização Mundial do Comércio**. O arquivo foi armazenado em um repositório público do GitHub, a sua importação foi feita da seguinte forma:

In [424]:
url="https://github.com/talissonmeira/WTH/blob/main/WtoData.csv?raw=true"

df_wt = pd.read_csv(url,encoding='latin-1',low_memory=False)

#O encoding usado é declarado pois o padrão é o utf-8, diferente do qual está o arquivo.
#Como o arquivo não é tão grande podemos trabalhar com low_memory=False.

A tabela em questão é a seguinte:

In [426]:
df_wt.head(10)

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,126.432
1,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,004,AFG,Afghanistan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,85.260
2,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,138.571
3,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,012,DZA,Algeria,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,104.676
4,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,016,ASM,American Samoa,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,E,Estimate,NaN,101.862
5,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,024,AGO,Angola,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,123.595
6,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,028,ATG,Antigua and Barbuda,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,119.555
7,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,031,AZE,Azerbaijan,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,109.074
8,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,032,ARG,Argentina,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,149.183
9,Merchandise trade - indices and prices,ITS_MTP_AM,Merchandise import value chained indices - annual,036,AUS,Australia,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,A,Annual,A,Annual,IDP,Previous year=100,2021,NaN,NaN,NaN,123.293

Para dar prosseguimento a análise precisamos obter também os dados de produção total do país (**GDP**) e esse dado vai ser obtido do [**World Bank**](https://data.worldbank.org/indicator/NY.GDP.MKTP.CD) com o mesmo código usado para obter os dados de transações internacionais e do mesmo repositório online do GitHub. Em seguida uma apresentação da tabela:

In [461]:
url2="https://raw.githubusercontent.com/talissonmeira/WTH/main/gdp.csv"
df_gdp = pd.read_csv(url2)

df_gdp.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09,2.496648e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.129059e+10,2.180847e+10,2.370702e+10,2.821004e+10,2.611879e+10,2.968217e+10,3.223912e+10,3.351455e+10,...,9.644185e+11,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11,8.823551e+11,1.020647e+12,9.910223e+11,9.975340e+11,9.216459e+11,1.082096e+12,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,1.400000e+09,1.673333e+09,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040414e+10,1.112789e+10,1.194319e+10,1.267633e+10,1.383837e+10,1.486223e+10,1.583259e+10,1.442604e+10,...,6.709830e+11,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11,6.905464e+11,6.837487e+11,7.416899e+11,7.945430e+11,7.844457e+11,8.358084e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.094365e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10,5.361907e+10,7.254699e+10,NaN
5,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289076e+10,1.231983e+10,1.277622e+10,1.322815e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.515643e+10,1.540183e+10,1.513187e+10,1.826004e+10,NaN
6,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629134e+09,3.188653e+09,3.193513e+09,3.271686e+09,2.789881e+09,2.896610e+09,3.000162e+09,3.218420e+09,3.155149e+09,2.891001e+09,3.329911e+09,NaN
7,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.547958e+12,2.778077e+12,2.834607e+12,2.876010e+12,2.518701e+12,2.495865e+12,2.584097e+12,2.785878e+12,2.808100e+12,2.496251e+12,2.850421e+12,NaN
8,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.506661e+11,3.745907e+11,3.901075e+11,4.031372e+11,3.581349e+11,3.570452e+11,3.856055e+11,4.222150e+11,4.172156e+11,3.588688e+11,NaN,NaN
9,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,2.863047e+10,2.425667e+10,...,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.575314e+11,6.436287e+11,5.248197e+11,4.528184e+11,3.895910e+11,4.914927e+11,NaN

Por fim, vamos importar os dados de IDH (Human Development Index) do [Human Development Reports](https://hdr.undp.org/data-center/documentation-and-downloads), sob responsabilidade da **Organização das Nações Unidas**. O código também é colocado no repositório do GitHub, mas diferente dos outros, é um arquivo em formato `xlsx`, o que acarreta no comando ```pd.read.excel``` para ler o documento. A seguir a tabela:

In [431]:
url3='https://github.com/talissonmeira/WTH/blob/main/HDR21-22_Statistical_Annex_HDI_Trends_Table.xlsx?raw=true'
df_hdi = pd.read_excel(url3)

df_hdi.head(10)

,Back,"Table 2. Human Development Index trends, 1990-2021",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Human Development Index (HDI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Change in HDI rank,NaN,Average annual HDI growth,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,(%),NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,1990,NaN,2000,NaN,2010,NaN,2015,NaN,2018,NaN,...,NaN,2021,NaN,2015-2021,a,1990-2000,NaN,2000-2010,NaN,2010-2021,NaN,1990-2021
4,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,Switzerland,0.851,NaN,0.887,NaN,0.942,NaN,0.954,NaN,0.959,NaN,...,NaN,0.962,NaN,0,NaN,0.415188,NaN,0.603416,NaN,0.191175,NaN,0.396274
6,2,Norway,0.838,NaN,0.913,NaN,0.941,NaN,0.953,NaN,0.962,NaN,...,NaN,0.961,NaN,0,NaN,0.860862,NaN,0.302529,NaN,0.191376,NaN,0.442772
7,3,Iceland,0.811,NaN,0.871,NaN,0.902,NaN,0.945,NaN,0.959,NaN,...,NaN,0.959,NaN,0,NaN,0.716292,NaN,0.350338,NaN,0.558614,NaN,0.542184
8,4,"Hong Kong, China (SAR)",0.788,NaN,0.851,NaN,0.907,NaN,0.935,NaN,0.949,NaN,...,NaN,0.952,NaN,3,NaN,0.772106,NaN,0.639338,NaN,0.441176,NaN,0.611757
9,5,Australia,0.865,NaN,0.896,NaN,0.923,NaN,0.933,NaN,0.941,NaN,...,NaN,0.951,NaN,3,NaN,0.35273,NaN,0.297329,NaN,0.27205,NaN,0.306225

## Limpeza e filtragem dos dados
Vamos começar agora os processos de escolha dos dados que nos interessam e limpeza dos países que não possuem todos os dados para ser feita a análise. O banco de dados mais limitante é o de transações internacionais, com diversos países sem dados e limitando em muito o escopo da análise. <br>
Vamos por partes, começando pelos dados de world trading, vamos observar os indicadores que temos diponíveis:

In [433]:
df_wt['Indicator'].value_counts()

Commercial services exports by sector and partner  annual                17661
Commercial services imports by sector and partner  annual                15822
Commercial services exports of selected economies  monthly               10714
Commercial services imports of selected economies  monthly               10698
Commercial services imports by main sector  quarterly                     9507
Commercial services exports by main sector  quarterly                     9428
Commercial services exports of selected economies (growth)  monthly       6417
Commercial services imports of selected economies (growth)  monthly       6411
Total merchandise exports - monthly                                        1460
Total merchandise imports - monthly                                        1460
Merchandise export volume indices, not seasonally adjusted - quarterly      714
Merchandise import volume indices, not seasonally adjusted - quarterly      714
Total merchandise exports - quarterly                                       630
Total merchandise imports - quarterly                                       624
Merchandise import volume indices, seasonally adjusted - quarterly          366
Merchandise export volume indices, seasonally adjusted - quarterly          366
Merchandise import volume chained indices - annual                          270
Merchandise import volume fixed-base indices - annual                       270
Merchandise import volume change - annual                                   270
Merchandise export volume fixed-base indices - annual                       268
Merchandise export volume chained indices - annual                          268
Merchandise export volume change - annual                                   266
Merchandise imports by product group  annual                               264
Merchandise exports by product group  annual                               264
Merchandise import unit value chained indices - annual                      256
Merchandise import unit value fixed-base indices - annual                   256
Merchandise export unit value fixed-base indices - annual                   255
Merchandise export unit value chained indices - annual                      255
Merchandise import value chained indices - annual                           255
Merchandise import value fixed-base indices - annual                        255
Merchandise export value chained indices - annual                           254
Merchandise export value fixed-base indices - annual                        254
Export price indices of manufactured goods - monthly                        126
Export price changes of manufactured goods - monthly                        126
Import price changes of manufactured goods - monthly                        126
Import price indices of manufactured goods - monthly                        114
Name: Indicator, dtype: int64

Como nossa comparação tem como objetivo a abertura comercial, escolhemos o lado do produtor para fazer a análise (escolha já declarada ao utilizar GDP) e precisamos apenas de um indicador de exportação total, para tal temos o `Total merchandise exports - monthly` e `Total merchandise exports - quarterly`. Por arbitrariedade escolhemos os dados referentes ao período trimestral. Assim criamos um novo data frame apenas com o indicador escolhido, para tal usamos o comando ```isin['elemento a ser buscado']```. Vamos usar apenas os dados do ano de 2021 por conta da disponibilidade de dados, então fazemos o mesmo para a coluna "Years":

In [435]:
df_wt2 = df_wt[df_wt['Indicator'].isin(['Total merchandise exports - quarterly'])]
df_wt2 = df_wt2[df_wt2['Year'].isin([2021])]

df_wt2.head()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
10376,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,4.994757e+06
10379,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.429400e+06
10380,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,5.543877e+06
10381,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,000,NaN,World,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,6.051321e+06
10382,Merchandise trade values,ITS_MTV_QX,Total merchandise exports - quarterly,008,ALB,Albania,000,NaN,World,SITC3,Merchandise - SITC Revision 3 (aggregates),TO,Total merchandise,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,7.824484e+02

Aqui nos deparamos com um problema para a análise, a base de dados possui informações não só sobre países específicos mas sobre associações (por exeplo: MERCOSUL), porém, todos os países possuem um ISO3A Code, o que não é verdade para as associações, sabendo disso, usamos o comando ```.dropna``` para eliminar as linhas que tem valor nulo. A unica associação de países que possui o código é a União Europeia, como é só um valor, retiramos o mesmo com o o comando ```~df_em_questão['coluna']=='valor indesejado')]```:

In [437]:
df_wt2 = df_wt2.dropna(subset=['Reporting Economy ISO3A Code'])
df_wt2= df_wt2[~(df_wt2['Reporting Economy ISO3A Code']=='EEC')]

df_wt2['Reporting Economy ISO3A Code'].value_counts()

ALB    4
MAR    4
PHL    4
PER    4
PRY    4
PAN    4
PAK    4
NOR    4
NGA    4
NZL    4
NLD    4
MDA    4
PRT    4
MEX    4
MUS    4
MLT    4
MYS    4
LUX    4
LTU    4
LVA    4
LBN    4
KGZ    4
POL    4
ROM    4
KOR    4
TUN    4
VEN    4
URY    4
USA    4
TZA    4
GBR    4
EGY    4
MKD    4
UKR    4
TUR    4
THA    4
RUS    4
CHE    4
SWE    4
ESP    4
ZAF    4
SVN    4
VNM    4
SVK    4
SGP    4
SAU    4
KWT    4
KEN    4
DZA    4
BLR    4
CYP    4
HRV    4
CRI    4
COL    4
CHT    4
CHN    4
CHL    4
LKA    4
CAN    4
BGR    4
DNK    4
BRA    4
BOL    4
BEL    4
ARM    4
BGD    4
BHR    4
AUT    4
AUS    4
ARG    4
CZE    4
DOM    4
JOR    4
ISL    4
KAZ    4
JPN    4
ITA    4
ISR    4
IRL    4
IRQ    4
IRN    4
IDN    4
IND    4
HUN    4
ECU    4
HKG    4
HND    4
GTM    4
GRC    4
DEU    4
FRA    4
FIN    4
EST    4
SLV    4
SRB    4
Name: Reporting Economy ISO3A Code, dtype: int64

Agora apenas eliminando as colunas irrelevantes para a análise:

In [438]:
keep=['Indicator','Reporting Economy ISO3A Code','Reporting Economy','Period Code','Unit','Value']
df_wt3 = df_wt2[keep].reset_index(drop=True)

df_wt3.head(10)

,Indicator,Reporting Economy ISO3A Code,Reporting Economy,Period Code,Unit,Value
0,Total merchandise exports - quarterly,ALB,Albania,Q1,Million US dollar,782.448395
1,Total merchandise exports - quarterly,ALB,Albania,Q2,Million US dollar,945.190579
2,Total merchandise exports - quarterly,ALB,Albania,Q3,Million US dollar,860.588861
3,Total merchandise exports - quarterly,ALB,Albania,Q4,Million US dollar,970.815099
4,Total merchandise exports - quarterly,DZA,Algeria,Q1,Million US dollar,6800.000000
5,Total merchandise exports - quarterly,DZA,Algeria,Q2,Million US dollar,8600.000000
6,Total merchandise exports - quarterly,DZA,Algeria,Q3,Million US dollar,9700.000000
7,Total merchandise exports - quarterly,DZA,Algeria,Q4,Million US dollar,12000.000000
8,Total merchandise exports - quarterly,ARG,Argentina,Q1,Million US dollar,15407.000000
9,Total merchandise exports - quarterly,ARG,Argentina,Q2,Million US dollar,19966.000000

O próximo passo é efetuar a soma dos valores trimestrais para obter um valor anual, e transformar esses valores em dolares unitários (note que estava em milhares). <br>
Para tal, utilizamos o comando ```groupby[].sum``` que se encarrega de agrupar valores específicacos segundo classificações de colunas específicas:

In [443]:
#Agrupando tudo e transformando os valores trimestrais em anuais
df_wt4=df_wt3.groupby(['Reporting Economy ISO3A Code','Indicator'],as_index=False)['Value'].sum()

#Eliminando a coluna Indicator
keep2=['Reporting Economy ISO3A Code','Value']
df_wt4=df_wt4[keep4]

#Trocando o nome da coluna Value e Reporting Economy ISO3A Code
df_wt4=df_wt4.rename(columns={'Value':'Exports'})
df_wt4=df_wt4.rename(columns={'Reporting Economy ISO3A Code':'Code'})

#Transformando de milhão para unidade 
df_wt4['Exports'] = df_wt4['Exports'] * 1000000

df_wt4.head(10)

  Code       Exports
0  ALB  3.559043e+09
1  ARG  7.793500e+10
2  ARM  3.022500e+09
3  AUS  3.448645e+11
4  AUT  2.028061e+11
5  BEL  5.452835e+11
6  BGD  4.422341e+10
7  BGR  4.101767e+10
8  BHR  2.236941e+10
9  BLR  3.976228e+10

Na tabela de GDP precisamos apenas dos dados de 2021 (estão em valores de dólares americanos unitários), deixamos a coluna Country Code pois vai ser utilizada para fazer operações mais a frente.

In [462]:
keep3=['Country Name','2021','Country Code']
df_gdp2=df_gdp[keep3]

#Troca de nomes para facilitar entendimento e operações futuras
df_gdp2.rename(columns={'2021':'GDP'},inplace=True)
df_gdp2.rename(columns={'Country Code':'Code'},inplace=True)

df_gdp2.head(10)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\1624866294.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp2.rename(columns={'2021':'GDP'},inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\1624866294.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gdp2.rename(columns={'Country Code':'Code'},inplace=True)

                  Country Name           GDP Code
0                        Aruba           NaN  ABW
1  Africa Eastern and Southern  1.082096e+12  AFE
2                  Afghanistan           NaN  AFG
3   Africa Western and Central  8.358084e+11  AFW
4                       Angola  7.254699e+10  AGO
5                      Albania  1.826004e+10  ALB
6                      Andorra  3.329911e+09  AND
7                   Arab World  2.850421e+12  ARB
8         United Arab Emirates           NaN  ARE
9                    Argentina  4.914927e+11  ARG

O aviso quer dizer que estamos alterando um arquivo modificado e não o original, irrelevante para a operação em questão. <br>

Vamos agora para o ajuste da tabela de IDH:

In [465]:
#Deixando apenas as colunas necessárias
keep4= ['Table 2. Human Development Index trends, 1990-2021', 'Unnamed: 16']
df_hdi2 = df_hdi[keep4]

#Alterando os nomes para otimização
df_hdi2.rename(columns={'Unnamed: 16':'HDI'},inplace=True)
df_hdi2.rename(columns={'Table 2. Human Development Index trends, 1990-2021':'Country Name'},inplace=True)

df_hdi2.head(10)

C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\3160885018.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hdi2.rename(columns={'Unnamed: 16':'HDI'},inplace=True)
C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\3160885018.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hdi2.rename(columns={'Table 2. Human Development Index trends, 1990-2021':'Country Name'},inplace=True)

                  Country Name    HDI
0                          NaN    NaN
1                          NaN    NaN
2                          NaN    NaN
3                      Country   2021
4  VERY HIGH HUMAN DEVELOPMENT    NaN
5                  Switzerland  0.962
6                       Norway  0.961
7                      Iceland  0.959
8       Hong Kong, China (SAR)  0.952
9                    Australia  0.951

Em operações futuras os espaços em branco serão irrelevantes se não forem na tabela de world trading, portanto não foi uma preocupação eliminar os mesmos.

## Junção dos data frames para criação da tabela final
Vamos por partes, começaremos associando a tabela de transações internacionais com a tabela de produção total do país. Para tal iremos usar o comando ```pd.merge()``` que da maneira ```how='left'```utiliza os valores do data frame colocado a esquerda (df_wt4) como base e coloca os valores que tem o mesmo indicador (no caso código da economia) do data frame a esquerda (df_gdp2):

In [466]:
df_wt_gdp=pd.merge(df_wt4,df_gdp2,how='left',on=['Code'])

df_wt_gdp.head(100)

   Code       Exports          Country Name           GDP
0   ALB  3.559043e+09               Albania  1.826004e+10
1   ARG  7.793500e+10             Argentina  4.914927e+11
2   ARM  3.022500e+09               Armenia  1.386118e+10
3   AUS  3.448645e+11             Australia  1.542660e+12
4   AUT  2.028061e+11               Austria  4.770825e+11
5   BEL  5.452835e+11               Belgium  5.998790e+11
6   BGD  4.422341e+10            Bangladesh  4.162649e+11
7   BGR  4.101767e+10              Bulgaria  8.027112e+10
8   BHR  2.236941e+10               Bahrain  3.886866e+10
9   BLR  3.976228e+10               Belarus  6.821882e+10
10  BOL  1.103001e+10               Bolivia  4.040821e+10
11  BRA  2.808146e+11                Brazil  1.608981e+12
12  CAN  5.076146e+11                Canada  1.990762e+12
13  CHE  3.801937e+11           Switzerland  8.128669e+11
14  CHL  9.467700e+10                 Chile  3.170585e+11
15  CHN  3.363755e+12                 China  1.773406e+13
16  CHT  4.476926e+11                   NaN           NaN
17  COL  4.028746e+10              Colombia  3.143225e+11
18  CRI  1.549359e+10            Costa Rica  6.428244e+10
19  CYP  3.786553e+09                Cyprus  2.771934e+10
20  CZE  2.264160e+11               Czechia  2.823408e+11
21  DEU  1.631931e+12               Germany  4.223116e+12
22  DNK  1.259447e+11               Denmark  3.971043e+11
23  DOM  1.246200e+10    Dominican Republic  9.424345e+10
24  DZA  3.710000e+10               Algeria  1.679831e+11
25  ECU  2.669920e+10               Ecuador  1.061659e+11
26  EGY  4.362621e+10      Egypt, Arab Rep.  4.041428e+11
27  ESP  3.823612e+11                 Spain  1.425277e+12
28  EST  2.151787e+10               Estonia  3.626292e+10
29  FIN  8.197227e+10               Finland  2.991552e+11
30  FRA  5.847676e+11                France  2.937473e+12
31  GBR  4.708810e+11        United Kingdom  3.186860e+12
32  GRC  4.718673e+10                Greece  2.162406e+11
33  GTM  1.375274e+10             Guatemala  8.598632e+10
34  HKG  6.699031e+11  Hong Kong SAR, China  3.681392e+11
35  HND  1.021580e+10              Honduras  2.848867e+10
36  HRV  2.281214e+10               Croatia  6.783779e+10
37  HUN  1.419206e+11               Hungary  1.822805e+11
38  IDN  2.298496e+11             Indonesia  1.186093e+12
39  IND  3.954256e+11                 India  3.173398e+12
40  IRL  1.905184e+11               Ireland  4.985596e+11
41  IRN  7.164562e+10    Iran, Islamic Rep.           NaN
42  IRQ  8.629830e+10                  Iraq  2.078893e+11
43  ISL  5.986791e+09               Iceland  2.545893e+10
44  ISR  6.015877e+10                Israel  4.815913e+11
45  ITA  6.102844e+11                 Italy  2.099880e+12
46  JOR  9.357546e+09                Jordan  4.524366e+10
47  JPN  7.560317e+11                 Japan  4.937422e+12
48  KAZ  6.062470e+10            Kazakhstan  1.908143e+11
49  KEN  6.739000e+09                 Kenya  1.103471e+11
50  KGZ  2.393400e+09       Kyrgyz Republic  8.543424e+09
51  KOR  6.444004e+11           Korea, Rep.  1.798534e+12
52  KWT  6.312779e+10                Kuwait           NaN
53  LBN  4.590084e+09               Lebanon  1.807662e+10
54  LKA  1.249860e+10             Sri Lanka  8.451883e+10
55  LTU  4.082753e+10             Lithuania  6.550385e+10
56  LUX  1.662349e+10            Luxembourg  8.671080e+10
57  LVA  2.082257e+10                Latvia  3.887255e+10
58  MAR  3.584307e+10               Morocco  1.327253e+11
59  MDA  3.144400e+09               Moldova  1.367922e+10
60  MEX  4.947645e+11                Mexico  1.293038e+12
61  MKD  8.185664e+09       North Macedonia  1.387927e+10
62  MLT  3.110684e+09                 Malta  1.718973e+10
63  MUS  1.964300e+09             Mauritius  1.115666e+10
64  MYS  2.990281e+11              Malaysia  3.727014e+11
65  NGA  4.693239e+10               Nigeria  4.407770e+11
66  NLD  8.365118e+11           Netherlands  1.018007e+12
67  NOR  1.601058e+11                Norway  4.824370e+11
68  NZL  4.475780e+10           New Zealand  2.499915e+11
69  PAK  2.831900e+10              Pakistan  3.463432e+11
70  PAN  3.558000e+09                Panama  6.360507e+10
71  PER  5.958314e+10                  Peru  2.232495e+11
72  PHL  7.461757e+10           Philippines  3.940864e+11
73  POL  3.379084e+11                Poland  6.740483e+11
74  PRT  7.518104e+10              Portugal  2.498865e+11
75  PRY  1.054730e+10              Paraguay  3.898681e+10
76  ROM  8.738432e+10                   NaN           NaN
77  RUS  4.938200e+11    Russian Federation  1.775800e+12
78  SAU  2.602200e+11          Saudi Arabia  8.335412e+11
79  SGP  4.573573e+11             Singapore  3.969869e+11
80  SLV  6.628750e+09           El Salvador  2.873694e+10
81  SRB  2.556353e+10                Serbia  6.306813e+10
82  SVK  1.035717e+11       Slovak Republic  1.148707e+11
83  SVN  5.735194e+10              Slovenia  6.152633e+10
84  SWE  1.897341e+11                Sweden  6.274379e+11
85  THA  2.720061e+11              Thailand  5.059817e+11
86  TUN  1.668891e+10               Tunisia  4.684004e+10
87  TUR  2.252145e+11               Turkiye  8.152718e+11
88  TZA  6.390541e+09              Tanzania  6.777510e+10
89  UKR  6.807500e+10               Ukraine  2.000855e+11
90  URY  9.540698e+09               Uruguay  5.931955e+10
91  USA  1.754300e+12         United States  2.299610e+13
92  VEN  3.575000e+09         Venezuela, RB           NaN
93  VNM  3.359293e+11               Vietnam  3.626375e+11
94  ZAF  1.235716e+11          South Africa  4.199464e+11

Por fim, adicionamos o HDI da mesma forma, mas agora com base nos nomes inteiros dos países. Essa escolha foi estratégica pois os nomes na tabela de GDP eram mais parecidos em suas particularidades com a tabela de HDI do que com a de world trading.

In [470]:
df_final=pd.merge(df_wt_gdp,df_hdi2,how='left',on=['Country Name'])

df_final.head(100)

   Code       Exports          Country Name           GDP    HDI
0   ALB  3.559043e+09               Albania  1.826004e+10  0.796
1   ARG  7.793500e+10             Argentina  4.914927e+11  0.842
2   ARM  3.022500e+09               Armenia  1.386118e+10  0.759
3   AUS  3.448645e+11             Australia  1.542660e+12  0.951
4   AUT  2.028061e+11               Austria  4.770825e+11  0.916
5   BEL  5.452835e+11               Belgium  5.998790e+11  0.937
6   BGD  4.422341e+10            Bangladesh  4.162649e+11  0.661
7   BGR  4.101767e+10              Bulgaria  8.027112e+10  0.795
8   BHR  2.236941e+10               Bahrain  3.886866e+10  0.875
9   BLR  3.976228e+10               Belarus  6.821882e+10  0.808
10  BOL  1.103001e+10               Bolivia  4.040821e+10    NaN
11  BRA  2.808146e+11                Brazil  1.608981e+12  0.754
12  CAN  5.076146e+11                Canada  1.990762e+12  0.936
13  CHE  3.801937e+11           Switzerland  8.128669e+11  0.962
14  CHL  9.467700e+10                 Chile  3.170585e+11  0.855
15  CHN  3.363755e+12                 China  1.773406e+13  0.768
16  CHT  4.476926e+11                   NaN           NaN    NaN
17  CHT  4.476926e+11                   NaN           NaN    NaN
18  CHT  4.476926e+11                   NaN           NaN    NaN
19  CHT  4.476926e+11                   NaN           NaN    NaN
20  CHT  4.476926e+11                   NaN           NaN    NaN
21  CHT  4.476926e+11                   NaN           NaN    NaN
22  CHT  4.476926e+11                   NaN           NaN    NaN
23  CHT  4.476926e+11                   NaN           NaN    NaN
24  CHT  4.476926e+11                   NaN           NaN    NaN
25  CHT  4.476926e+11                   NaN           NaN    NaN
26  CHT  4.476926e+11                   NaN           NaN    NaN
27  CHT  4.476926e+11                   NaN           NaN    NaN
28  CHT  4.476926e+11                   NaN           NaN    NaN
29  COL  4.028746e+10              Colombia  3.143225e+11  0.752
30  CRI  1.549359e+10            Costa Rica  6.428244e+10  0.809
31  CYP  3.786553e+09                Cyprus  2.771934e+10  0.896
32  CZE  2.264160e+11               Czechia  2.823408e+11  0.889
33  DEU  1.631931e+12               Germany  4.223116e+12  0.942
34  DNK  1.259447e+11               Denmark  3.971043e+11  0.948
35  DOM  1.246200e+10    Dominican Republic  9.424345e+10  0.767
36  DZA  3.710000e+10               Algeria  1.679831e+11  0.745
37  ECU  2.669920e+10               Ecuador  1.061659e+11   0.74
38  EGY  4.362621e+10      Egypt, Arab Rep.  4.041428e+11    NaN
39  ESP  3.823612e+11                 Spain  1.425277e+12  0.905
40  EST  2.151787e+10               Estonia  3.626292e+10   0.89
41  FIN  8.197227e+10               Finland  2.991552e+11   0.94
42  FRA  5.847676e+11                France  2.937473e+12  0.903
43  GBR  4.708810e+11        United Kingdom  3.186860e+12  0.929
44  GRC  4.718673e+10                Greece  2.162406e+11  0.887
45  GTM  1.375274e+10             Guatemala  8.598632e+10  0.627
46  HKG  6.699031e+11  Hong Kong SAR, China  3.681392e+11    NaN
47  HND  1.021580e+10              Honduras  2.848867e+10  0.621
48  HRV  2.281214e+10               Croatia  6.783779e+10  0.858
49  HUN  1.419206e+11               Hungary  1.822805e+11  0.846
50  IDN  2.298496e+11             Indonesia  1.186093e+12  0.705
51  IND  3.954256e+11                 India  3.173398e+12  0.633
52  IRL  1.905184e+11               Ireland  4.985596e+11  0.945
53  IRN  7.164562e+10    Iran, Islamic Rep.           NaN    NaN
54  IRQ  8.629830e+10                  Iraq  2.078893e+11  0.686
55  ISL  5.986791e+09               Iceland  2.545893e+10  0.959
56  ISR  6.015877e+10                Israel  4.815913e+11  0.919
57  ITA  6.102844e+11                 Italy  2.099880e+12  0.895
58  JOR  9.357546e+09                Jordan  4.524366e+10   0.72
59  JPN  7.560317e+11                 Japan  4.937422e+12  0.925
60  KAZ  6.062470e+10            Kazakhstan  1.908143e+11  0.811
61  KEN  6.739000e+09                 Kenya  1.103471e+11  0.575
62  KGZ  2.393400e+09       Kyrgyz Republic  8.543424e+09    NaN
63  KOR  6.444004e+11           Korea, Rep.  1.798534e+12    NaN
64  KWT  6.312779e+10                Kuwait           NaN  0.831
65  LBN  4.590084e+09               Lebanon  1.807662e+10  0.706
66  LKA  1.249860e+10             Sri Lanka  8.451883e+10  0.782
67  LTU  4.082753e+10             Lithuania  6.550385e+10  0.875
68  LUX  1.662349e+10            Luxembourg  8.671080e+10   0.93
69  LVA  2.082257e+10                Latvia  3.887255e+10  0.863
70  MAR  3.584307e+10               Morocco  1.327253e+11  0.683
71  MDA  3.144400e+09               Moldova  1.367922e+10    NaN
72  MEX  4.947645e+11                Mexico  1.293038e+12  0.758
73  MKD  8.185664e+09       North Macedonia  1.387927e+10   0.77
74  MLT  3.110684e+09                 Malta  1.718973e+10  0.918
75  MUS  1.964300e+09             Mauritius  1.115666e+10  0.802
76  MYS  2.990281e+11              Malaysia  3.727014e+11  0.803
77  NGA  4.693239e+10               Nigeria  4.407770e+11  0.535
78  NLD  8.365118e+11           Netherlands  1.018007e+12  0.941
79  NOR  1.601058e+11                Norway  4.824370e+11  0.961
80  NZL  4.475780e+10           New Zealand  2.499915e+11  0.937
81  PAK  2.831900e+10              Pakistan  3.463432e+11  0.544
82  PAN  3.558000e+09                Panama  6.360507e+10  0.805
83  PER  5.958314e+10                  Peru  2.232495e+11  0.762
84  PHL  7.461757e+10           Philippines  3.940864e+11  0.699
85  POL  3.379084e+11                Poland  6.740483e+11  0.876
86  PRT  7.518104e+10              Portugal  2.498865e+11  0.866
87  PRY  1.054730e+10              Paraguay  3.898681e+10  0.717
88  ROM  8.738432e+10                   NaN           NaN    NaN
89  ROM  8.738432e+10                   NaN           NaN    NaN
90  ROM  8.738432e+10                   NaN           NaN    NaN
91  ROM  8.738432e+10                   NaN           NaN    NaN
92  ROM  8.738432e+10                   NaN           NaN    NaN
93  ROM  8.738432e+10                   NaN           NaN    NaN
94  ROM  8.738432e+10                   NaN           NaN    NaN
95  ROM  8.738432e+10                   NaN           NaN    NaN
96  ROM  8.738432e+10                   NaN           NaN    NaN
97  ROM  8.738432e+10                   NaN           NaN    NaN
98  ROM  8.738432e+10                   NaN           NaN    NaN
99  ROM  8.738432e+10                   NaN           NaN    NaN

Eliminando valores nulos da tabela:

In [471]:
df_final=df_final.dropna()

df_final

    Code       Exports        Country Name           GDP    HDI
0    ALB  3.559043e+09             Albania  1.826004e+10  0.796
1    ARG  7.793500e+10           Argentina  4.914927e+11  0.842
2    ARM  3.022500e+09             Armenia  1.386118e+10  0.759
3    AUS  3.448645e+11           Australia  1.542660e+12  0.951
4    AUT  2.028061e+11             Austria  4.770825e+11  0.916
5    BEL  5.452835e+11             Belgium  5.998790e+11  0.937
6    BGD  4.422341e+10          Bangladesh  4.162649e+11  0.661
7    BGR  4.101767e+10            Bulgaria  8.027112e+10  0.795
8    BHR  2.236941e+10             Bahrain  3.886866e+10  0.875
9    BLR  3.976228e+10             Belarus  6.821882e+10  0.808
11   BRA  2.808146e+11              Brazil  1.608981e+12  0.754
12   CAN  5.076146e+11              Canada  1.990762e+12  0.936
13   CHE  3.801937e+11         Switzerland  8.128669e+11  0.962
14   CHL  9.467700e+10               Chile  3.170585e+11  0.855
15   CHN  3.363755e+12               China  1.773406e+13  0.768
29   COL  4.028746e+10            Colombia  3.143225e+11  0.752
30   CRI  1.549359e+10          Costa Rica  6.428244e+10  0.809
31   CYP  3.786553e+09              Cyprus  2.771934e+10  0.896
32   CZE  2.264160e+11             Czechia  2.823408e+11  0.889
33   DEU  1.631931e+12             Germany  4.223116e+12  0.942
34   DNK  1.259447e+11             Denmark  3.971043e+11  0.948
35   DOM  1.246200e+10  Dominican Republic  9.424345e+10  0.767
36   DZA  3.710000e+10             Algeria  1.679831e+11  0.745
37   ECU  2.669920e+10             Ecuador  1.061659e+11   0.74
39   ESP  3.823612e+11               Spain  1.425277e+12  0.905
40   EST  2.151787e+10             Estonia  3.626292e+10   0.89
41   FIN  8.197227e+10             Finland  2.991552e+11   0.94
42   FRA  5.847676e+11              France  2.937473e+12  0.903
43   GBR  4.708810e+11      United Kingdom  3.186860e+12  0.929
44   GRC  4.718673e+10              Greece  2.162406e+11  0.887
45   GTM  1.375274e+10           Guatemala  8.598632e+10  0.627
47   HND  1.021580e+10            Honduras  2.848867e+10  0.621
48   HRV  2.281214e+10             Croatia  6.783779e+10  0.858
49   HUN  1.419206e+11             Hungary  1.822805e+11  0.846
50   IDN  2.298496e+11           Indonesia  1.186093e+12  0.705
51   IND  3.954256e+11               India  3.173398e+12  0.633
52   IRL  1.905184e+11             Ireland  4.985596e+11  0.945
54   IRQ  8.629830e+10                Iraq  2.078893e+11  0.686
55   ISL  5.986791e+09             Iceland  2.545893e+10  0.959
56   ISR  6.015877e+10              Israel  4.815913e+11  0.919
57   ITA  6.102844e+11               Italy  2.099880e+12  0.895
58   JOR  9.357546e+09              Jordan  4.524366e+10   0.72
59   JPN  7.560317e+11               Japan  4.937422e+12  0.925
60   KAZ  6.062470e+10          Kazakhstan  1.908143e+11  0.811
61   KEN  6.739000e+09               Kenya  1.103471e+11  0.575
65   LBN  4.590084e+09             Lebanon  1.807662e+10  0.706
66   LKA  1.249860e+10           Sri Lanka  8.451883e+10  0.782
67   LTU  4.082753e+10           Lithuania  6.550385e+10  0.875
68   LUX  1.662349e+10          Luxembourg  8.671080e+10   0.93
69   LVA  2.082257e+10              Latvia  3.887255e+10  0.863
70   MAR  3.584307e+10             Morocco  1.327253e+11  0.683
72   MEX  4.947645e+11              Mexico  1.293038e+12  0.758
73   MKD  8.185664e+09     North Macedonia  1.387927e+10   0.77
74   MLT  3.110684e+09               Malta  1.718973e+10  0.918
75   MUS  1.964300e+09           Mauritius  1.115666e+10  0.802
76   MYS  2.990281e+11            Malaysia  3.727014e+11  0.803
77   NGA  4.693239e+10             Nigeria  4.407770e+11  0.535
78   NLD  8.365118e+11         Netherlands  1.018007e+12  0.941
79   NOR  1.601058e+11              Norway  4.824370e+11  0.961
80   NZL  4.475780e+10         New Zealand  2.499915e+11  0.937
81   PAK  2.831900e+10            Pakistan  3.463432e+11  0.544
82   PAN  3.558000e+09              Panama  6.360507e+10  0.805
83   PER  5.958314e+10                Peru  2.232495e+11  0.762
84   PHL  7.461757e+10         Philippines  3.940864e+11  0.699
85   POL  3.379084e+11              Poland  6.740483e+11  0.876
86   PRT  7.518104e+10            Portugal  2.498865e+11  0.866
87   PRY  1.054730e+10            Paraguay  3.898681e+10  0.717
101  RUS  4.938200e+11  Russian Federation  1.775800e+12  0.822
102  SAU  2.602200e+11        Saudi Arabia  8.335412e+11  0.875
103  SGP  4.573573e+11           Singapore  3.969869e+11  0.939
104  SLV  6.628750e+09         El Salvador  2.873694e+10  0.675
105  SRB  2.556353e+10              Serbia  6.306813e+10  0.802
107  SVN  5.735194e+10            Slovenia  6.152633e+10  0.918
108  SWE  1.897341e+11              Sweden  6.274379e+11  0.947
109  THA  2.720061e+11            Thailand  5.059817e+11    0.8
110  TUN  1.668891e+10             Tunisia  4.684004e+10  0.731
113  UKR  6.807500e+10             Ukraine  2.000855e+11  0.773
114  URY  9.540698e+09             Uruguay  5.931955e+10  0.809
115  USA  1.754300e+12       United States  2.299610e+13  0.921
118  ZAF  1.235716e+11        South Africa  4.199464e+11  0.713

Incluimos uma coluna com a porcentagem de exportações sobre a produção total:

In [472]:
df_final['exports_over_GDP'] = df_final['Exports'] / df_final["GDP"]

df_final

,Code,Exports,Country Name,GDP,HDI,exports_over_GDP
0,ALB,3.559043e+09,Albania,1.826004e+10,0.796,0.194909
1,ARG,7.793500e+10,Argentina,4.914927e+11,0.842,0.158568
2,ARM,3.022500e+09,Armenia,1.386118e+10,0.759,0.218055
3,AUS,3.448645e+11,Australia,1.542660e+12,0.951,0.223552
4,AUT,2.028061e+11,Austria,4.770825e+11,0.916,0.425097
5,BEL,5.452835e+11,Belgium,5.998790e+11,0.937,0.908989
6,BGD,4.422341e+10,Bangladesh,4.162649e+11,0.661,0.106239
7,BGR,4.101767e+10,Bulgaria,8.027112e+10,0.795,0.510989
8,BHR,2.236941e+10,Bahrain,3.886866e+10,0.875,0.575513
9,BLR,3.976228e+10,Belarus,6.821882e+10,0.808,0.582864
11,BRA,2.808146e+11,Brazil,1.608981e+12,0.754,0.174529
12,CAN,5.076146e+11,Canada,1.990762e+12,0.936,0.254985
13,CHE,3.801937e+11,Switzerland,8.128669e+11,0.962,0.467720
14,CHL,9.467700e+10,Chile,3.170585e+11,0.855,0.298611
15,CHN,3.363755e+12,China,1.773406e+13,0.768,0.189678
29,COL,4.028746e+10,Colombia,3.143225e+11,0.752,0.128172
30,CRI,1.549359e+10,Costa Rica,6.428244e+10,0.809,0.241024
31,CYP,3.786553e+09,Cyprus,2.771934e+10,0.896,0.136603
32,CZE,2.264160e+11,Czechia,2.823408e+11,0.889,0.801924
33,DEU,1.631931e+12,Germany,4.223116e+12,0.942,0.386428
34,DNK,1.259447e+11,Denmark,3.971043e+11,0.948,0.317158
35,DOM,1.246200e+10,Dominican Republic,9.424345e+10,0.767,0.132232
36,DZA,3.710000e+10,Algeria,1.679831e+11,0.745,0.220855
37,ECU,2.669920e+10,Ecuador,1.061659e+11,0.74,0.251486
39,ESP,3.823612e+11,Spain,1.425277e+12,0.905,0.268272
40,EST,2.151787e+10,Estonia,3.626292e+10,0.89,0.593385
41,FIN,8.197227e+10,Finland,2.991552e+11,0.94,0.274012
42,FRA,5.847676e+11,France,2.937473e+12,0.903,0.199072
43,GBR,4.708810e+11,United Kingdom,3.186860e+12,0.929,0.147757
44,GRC,4.718673e+10,Greece,2.162406e+11,0.887,0.218214
45,GTM,1.375274e+10,Guatemala,8.598632e+10,0.627,0.159941
47,HND,1.021580e+10,Honduras,2.848867e+10,0.621,0.358592
48,HRV,2.281214e+10,Croatia,6.783779e+10,0.858,0.336275
49,HUN,1.419206e+11,Hungary,1.822805e+11,0.846,0.778584
50,IDN,2.298496e+11,Indonesia,1.186093e+12,0.705,0.193787
51,IND,3.954256e+11,India,3.173398e+12,0.633,0.124606
52,IRL,1.905184e+11,Ireland,4.985596e+11,0.945,0.382138
54,IRQ,8.629830e+10,Iraq,2.078893e+11,0.686,0.415117
55,ISL,5.986791e+09,Iceland,2.545893e+10,0.959,0.235155
56,ISR,6.015877e+10,Israel,4.815913e+11,0.919,0.124917
57,ITA,6.102844e+11,Italy,2.099880e+12,0.895,0.290628
58,JOR,9.357546e+09,Jordan,4.524366e+10,0.72,0.206826
59,JPN,7.560317e+11,Japan,4.937422e+12,0.925,0.153123
60,KAZ,6.062470e+10,Kazakhstan,1.908143e+11,0.811,0.317716
61,KEN,6.739000e+09,Kenya,1.103471e+11,0.575,0.061071
65,LBN,4.590084e+09,Lebanon,1.807662e+10,0.706,0.253924
66,LKA,1.249860e+10,Sri Lanka,8.451883e+10,0.782,0.147879
67,LTU,4.082753e+10,Lithuania,6.550385e+10,0.875,0.623284
68,LUX,1.662349e+10,Luxembourg,8.671080e+10,0.93,0.191712
69,LVA,2.082257e+10,Latvia,3.887255e+10,0.863,0.535663
70,MAR,3.584307e+10,Morocco,1.327253e+11,0.683,0.270055
72,MEX,4.947645e+11,Mexico,1.293038e+12,0.758,0.382637
73,MKD,8.185664e+09,North Macedonia,1.387927e+10,0.77,0.589776
74,MLT,3.110684e+09,Malta,1.718973e+10,0.918,0.180962
75,MUS,1.964300e+09,Mauritius,1.115666e+10,0.802,0.176065
76,MYS,2.990281e+11,Malaysia,3.727014e+11,0.803,0.802326
77,NGA,4.693239e+10,Nigeria,4.407770e+11,0.535,0.106476
78,NLD,8.365118e+11,Netherlands,1.018007e+12,0.941,0.821715
79,NOR,1.601058e+11,Norway,4.824370e+11,0.961,0.331869
80,NZL,4.475780e+10,New Zealand,2.499915e+11,0.937,0.179037
81,PAK,2.831900e+10,Pakistan,3.463432e+11,0.544,0.081766
82,PAN,3.558000e+09,Panama,6.360507e+10,0.805,0.055939
83,PER,5.958314e+10,Peru,2.232495e+11,0.762,0.266890
84,PHL,7.461757e+10,Philippines,3.940864e+11,0.699,0.189343
85,POL,3.379084e+11,Poland,6.740483e+11,0.876,0.501312
86,PRT,7.518104e+10,Portugal,2.498865e+11,0.866,0.300861
87,PRY,1.054730e+10,Paraguay,3.898681e+10,0.717,0.270535
101,RUS,4.938200e+11,Russian Federation,1.775800e+12,0.822,0.278083
102,SAU,2.602200e+11,Saudi Arabia,8.335412e+11,0.875,0.312186
103,SGP,4.573573e+11,Singapore,3.969869e+11,0.939,1.152072
104,SLV,6.628750e+09,El Salvador,2.873694e+10,0.675,0.230670
105,SRB,2.556353e+10,Serbia,6.306813e+10,0.802,0.405332
107,SVN,5.735194e+10,Slovenia,6.152633e+10,0.918,0.932153
108,SWE,1.897341e+11,Sweden,6.274379e+11,0.947,0.302395
109,THA,2.720061e+11,Thailand,5.059817e+11,0.8,0.537581
110,TUN,1.668891e+10,Tunisia,4.684004e+10,0.731,0.356296
113,UKR,6.807500e+10,Ukraine,2.000855e+11,0.773,0.340229
114,URY,9.540698e+09,Uruguay,5.931955e+10,0.809,0.160836
115,USA,1.754300e+12,United States,2.299610e+13,0.921,0.076287
118,ZAF,1.235716e+11,South Africa,4.199464e+11,0.713,0.294256

Por fim, exportamos o arquivo (está disponível no repositório do GitHub).

In [473]:
df_final.to_csv('df_final', sep=',', encoding='latin-1', index=False)