# Dados

Estrutura dos dados: (parte mais densa tecnicamente)
* importar os dados com o pacote pandas (3 bases de dados diferentes)
* incorporar as 3 bases de dados em uma tabela só 
* aprimorar a organização da tabela 
* pegar dados (primeiro os obrigatórios) da tabela
* apresentar eles de forma informativa (talvez gráficos)

In [12]:
import pandas as pd 
import html5lib
#teste
#não importei do kaggle, não consegui e não sei se dá pra abrir em qualquer pc sem ter nada instalado

url="https://github.com/talissonmeira/WTH/blob/main/WtoData.csv?raw=true"

df_data = pd.read_csv(url,encoding='latin-1')

C:\Users\Dell\AppData\Local\Temp\ipykernel_9152\1905138144.py:8: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data = pd.read_csv(url,encoding='latin-1')

Os dados foram importados de um repositório público que eu criei no GitHub.

In [11]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns',25)
df_data.tail()

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,Product/Sector Classification,Product/Sector Code,Product/Sector,Period Code,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
97659,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  q...,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classi...,SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2022,NaN,NaN,NaN,15312.113403
97660,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  q...,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classi...,SPX4,Goods-related services,Q1,First Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13330.434057
97661,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  q...,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classi...,SPX4,Goods-related services,Q2,Second Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13603.131178
97662,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  q...,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classi...,SPX4,Goods-related services,Q3,Third Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,13175.430665
97663,Trade in commercial services,ITS_CS_QX,Commercial services exports by main sector  q...,927,NaN,Euro Area (19),ZX9,NaN,Extra Euro Area (19) Trade,BOP6,Services - Extended Balance of Payments Classi...,SPX4,Goods-related services,Q4,Fourth Quarter,Q,Quarterly,USM,Million US dollar,2021,NaN,NaN,NaN,15603.408962

# vvvcv
* daadasdasd
* ertsg

zxvsdvxcvcvxc